<div class="container">
  <nav class="navbar bg-dark mb-4">
    <a href="/" class="nav__link" data-link>Main page</a>

    <a href="/teachers" class="nav__link" data-link>Teachers</a>
    <a href="/courses" class="nav__link" data-link>Courses</a>
    <a href="/students" class="nav__link" data-link>Students</a>
    <a href="/studentsCourses" class="nav__link" data-link>Students-Courses</a>
    <a href="/logout" class="nav__link" data-link>Logout</a>

    <a href="/rocket" class="nav__link" data-link>Rocket!</a>

  </nav>
  <router-outlet></router-outlet>
</div>
